<nav class="" id="infinity-bar">
    <div class="container-fluid mini-bar">
        <button class="open-btn">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </div>
    <div class="container-fluid maxi-bar">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <i class="fa fa-globe"></i> TheFlexCompany :: {{ env }}
                </li>
                <li>
                    <i class="fa fa-user text-info"></i> Connecté en tant que : <strong>{{ app.user.firstname }} {{ app.user.lastname|upper }}</strong>
                </li>
                <li>
                    <i class="fa fa-lock text-warning"></i> Rôle : {{ app.user.roles[0] }}
                </li>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="{{ app.request.requestUri }}?_connect_as=_exit">
                            <i class="fa fa-exchange text-success"></i> Restaurer ma session
                        </a>
                    </li>
                {% endif %}
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Voir site en profil <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Anonyme / Non connecté</a></li>
                        <li><a href="#">Candidat</a></li>
                        <li><a href="#">Freelance</a></li>
                        <li><a href="#">Recruteur</a></li>
                        <li><a href="#">Espace de coworking</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accès rapide <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Administrer cet utilisateur</a></li>
                        <li><a href="#">Administrer cette offre</a></li>
                        <li><a href="#">Administrer ce contenu</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('infinitycms_dashboard') }}" target="_blank"><i class="fa fa-file-text-o"></i> Accès CMS</a>
                </li>
                <li>
                    <a href="{{ path('infinitycrm_dashboard') }}" target="_blank"><i class="fa fa-table"></i> Accès CRM</a>
                </li>
                <li>
                    <button class="close-btn">
                        <i class="fa fa-close text-danger"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
